@page "/counter"
@rendermode InteractiveServer
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Counter"]</PageTitle>

<h1>@L["Counter"]</h1>

<p role="status">@L["CurrentCount", currentCount]</p>

<button class="btn btn-primary" @onclick="IncrementCount">@L["ClickMe"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
